name: Release
on:
  push:
    branches: [main]

jobs:
  release:
    name: Node.js
    uses: eggjs/github-actions/.github/workflows/node-release.yml@master
    permissions:
      id-token: write # allow OIDC token
      contents: write # usually needed for release
      deployments: 'write'
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      GIT_TOKEN: ${{ secrets.GIT_TOKEN }}
